<nav id="top-menu">
    <a href="#">support@domain.com</a>
    <div class="social">
        <a href="https://facebook.com">facebook</a>
        <a href="https://youtube.com">youtube</a>
        <a href="https://twitter.com">twitter</a>
        <a href="https://linkedin.com">linkedin</a>
    </div>
</nav>
